{% extends "template.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Propósito</th>
        <th scope="col">Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Voluntários Abrigo EMEF Frederico Ernesto Bucholz</td>
        <td><a href="https://chat.whatsapp.com/HU7QRNsPDKfCEToXfJ6lof">Grupo WhatsApp</a></td>
      </tr>
      <tr>
        <td>Voluntários Abrigo Ginásio Wanda Rocha</td>
        <td><a href="https://chat.whatsapp.com/CNpDuEBVcFi7sS9aQ4V6aN">Grupo WhatsApp</a></td>
      </tr>
      <tr>
        <td>Voluntários Abrigo Quiterense</td>
        <td><a href="https://chat.whatsapp.com/KLsh3uTgHXX7mT6VVTpviV">Grupo WhatsApp</a></td>
      </tr>
      <tr>
        <td>Voluntários para Resgates</td>
        <td><a href=" https://chat.whatsapp.com/G0VQtDyBaOx9fb7VIMtv1H">Grupo WhatsApp</a></td>
      </tr>
      <tr>
        <td>Voluntários Produção de Marmitas Cassino</td>
        <td><a href="https://chat.whatsapp.com/J52QyDw35UM0DZD90lTSNy">Grupo WhatsApp</a></td>
      </tr>   
      <tr>
        <td>Voluntários Resgate de animais</td>
        <td><a href="https://chat.whatsapp.com/LO6VifXdMbh2BaQHdZFnQ4">Grupo WhatsApp</a></td>
      </tr> 
    </tbody>
  </table>
  <iframe allow="fullscreen 'none'" frameBorder="0" src="https://www.ajudariogrande.com.br/" width="100%" height="450" title="Ajuda Rio Grande"></iframe>
{% endblock %}