{% extends "template.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Links</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.instagram.com/prefeituradoriogrande/" target="_blank">Instagram Prefeitura de Rio Grande</a></td>
      </tr>
      <tr>
        <td><a href="https://www.instagram.com/p/C6oYQbqrow2/" target="_blank">Seja um Voluntário - Instagram Prefeitura de Rio Grande</a></td>
      </tr>
      <tr>
        <td><a href="https://youtu.be/tWPO-PNSprQ?si=DrZD9HDnmRlzN7lE" target="_blank">Atualizações sobre RG - YouTube FURG </a></td>
      </tr>
      <tr>
        <td><a href="https://www.grupooceano.com.br/noticias" target="_blank">Site Oceano</a></td>
      </tr>
    <tr>
      <td><a href="https://github.com/Snizi/AjudaRioGrande" target="_blank">Repositório do Projeto - GitHub</a></td>
    </tr>
    </tbody>
  </table>
{% endblock %}