{% extends "template.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Órgão</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Defesa Civil - WhatsApp</td>
        <td><a href="tel:+5553999683244">53 99968-3244</a></td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td><a href="tel:+555332338460">3233-8460</a></td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td><a href="tel:+555332338461">3233-8461</a></td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td><a href="tel:199">199</a></td>
      </tr>
    <tr>
        <td>Corpo de Bombeiros</td>
        <td><a href="tel:193">193</a><span>Telefone Inativo, ligar Defesa Civil</span></td>
    </tr>
    <tr>
        <td>Polícia Militar</td>
        <td><a href="tel:190">190</a></td>
    </tr>
    <tr>
        <td>Lar Solidário - Animais</td>
        <td><a href="tel:+555332327276"> 3232-7276</a></td>
    </tr>
    <tr>
        <td>Lar Solidário - Animais</td>
        <td><a href="tel:+5553999459476"> 53 99945-9476</a></td>
    </tr>
    <tr>
      <td>Resgates</td>
      <td><a href="tel:+5553991482526">53 99148-2526</a></td>
    </tr>
        
    </tbody>
  </table>
{% endblock %}