{% extends "template.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Órgão</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Defesa Civil - WhatsApp</td>
        <td>53 99968-3244</td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td>3233-8460</td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td>3233-8461</td>
      </tr>
      <tr>
        <td>Defesa Civil</td>
        <td>199</td>
      </tr>
    <tr>
        <td>Corpo de Bombeiros</td>
        <td>193</td>
    </tr>
    <tr>
        <td>Polícia Militar</td>
        <td>190</td>
    </tr>
    <tr>
        <td>Lar Solidário - Animais</td>
        <td>53 32327276</td>
    </tr>
    <tr>
        <td>Lar Solidário - Animais</td>
        <td>53 999459476</td>
    </tr>
        
    </tbody>
  </table>
{% endblock %}